form input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: cadetblue;
    border-width: 1px;
    margin-bottom: 10px;
}

form select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: cadetblue;
    border-width: 1px;
    margin-bottom: 10px;
}